<div class="w-100">
    <div>
        <h1 class="page-header">Unknown error</h1>
        <div>
            <p>An unknown error occurred. Please try to access this page again.</p>
            <p>If you need help, please contact the <a href="@ViewBag.SupportFormUrl" target="_blank">support team</a>.</p>
            <p>@DateTimeOffset.Now.ToString("d MMMM yyyy HH:mm:ss")</p>
        </div>
    </div>
</div>
