@*<div role="navigation" aria-label="Footer Navigation">
    <div class="footer-primary">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <ul>
                    <li><a href="https://www.nhs.uk/"><img src="~/images/NHS-white.svg" alt="NHS" class="logo" /></a></li>
                    <li><a href="@Url.Action("NHSsites", "Home")">NHS sites</a></li>
                    <li><a href="@Url.Action("Aboutus", "Home")">About us</a></li>
                    <li><a href="@Url.Action("Contactus", "Home")">Contact&nbsp;us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-right">
                <div class="footer-title">Learning Hub</div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="row">
            <div class="col-md-8 col-lg-8 footer-lower-links">
                <ul>
                    <li><a href="/access">Accessibility</a></li>
                    <li><a href="/">Our policies</a></li>
                    <li>&copy; Health Education England</li>
                </ul>
            </div>
            <div class="col-md-4 d-none d-md-block text-right footer-sub-title">
                Powered by<br />
                Health Education England
            </div>
        </div>
        <div class="d-lg-none pt-3">
            <div class="inner-container pt-3">
                <div class="footer-title">Learning Hub</div>
                <div class="footer-sub-title">
                    Powered by<br />
                    Health Education England
                </div>
            </div>
        </div>
    </div>
</div>*@
