@*@using Microsoft.Extensions.Options;
@using LearningHub.Nhs.Auth.Configuration;
@inject IOptions<WebSettings> webSettings

<div class="header-main d-flex flex-row justify-content-between">
    <div class="align-self-center">
        <a href="https://www.nhs.uk/" target="_blank"><img src="~/images/nhs-blue.svg" alt="NHS" /></a>
    </div>
    <div class="d-none d-lg-block align-self-center">
        <div class="mx-auto">

        </div>
    </div>
    <div class="align-self-start">
        <div class="header-title">Learning Hub</div>
    </div>
</div>*@

