div.carers div.loginContainer div.loginPanel div.panel,
div.carers div.logoutContainer div.logoutPanel div.panel {
    border-top: 5px solid #E18C03;
}

div.carers div.loginContainer .btn-primary {
    background-color: #AF1064;
    border-color: transparent;
}

header.carers {
    div.header-logo {
        background-color: #E18C03;
        padding: 3.5px 0;
    }
}