div.minded div.loginContainer div.loginPanel div.panel,
div.minded div.logoutContainer div.logoutPanel div.panel {
    border-top: 5px solid #78BE20;
}

div.minded div.loginContainer .btn-primary {
    background-color: #CEDC00;
    border-color: transparent;
}
