div.eIntegrity div.loginContainer div.loginPanel div.panel,
div.eIntegrity div.logoutContainer div.logoutPanel div.panel {
    border-top: 5px solid #008B3A;
}

div.eIntegrity div.loginContainer .btn-primary {
    background-color: #008B3A;
    border-color: transparent;
}