header.elfh-hub {
    margin-bottom: 25px;
}

div.elfh-hub div.loginContainer div.loginPanel div.panel,
div.elfh-hub div.logoutContainer div.logoutPanel div.panel {
    border-top: 5px solid #E28C05;
}

div.elfh-hub div.loginContainer .btn-primary {
    background-color: #AF1064;
    border-color: transparent;
}