@model string

@{
  ViewBag.Title = "Not Authenticated";
  Layout = "~/Views/Shared/_SsoLayout.cshtml";
}

<div class="nhsuk-width-container app-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-padding-top-7 nhsuk-u-padding-bottom-5">
      <h2 class="my-5">Your account cannot be validated</h2>

      <p class="pb-4">The Learning Hub could not validate your account. For help please <a href="https://support.learninghub.nhs.uk/conversation/new">contact support</a>.</p>
    </div>
  </div>
</div>
<style>
  .container-fluid {
    background-color: #F0F4F5;
  }
</style>